@import './styles/default';
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.isWave {
  animation: wave 5s infinite
}

@keyframes wave {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}

[click-animating],
[border-wave] {
  position: relative;
}

[border-wave]:after,
[click-animating-node] {
  content: '';
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  position: absolute;
  border: 0 solid #000;
  border-radius: inherit;
  animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), borderWaveAnim 0.6s cubic-bezier(0.08, 0.82, 0.17, 1);
  pointer-events: none;
  animation-fill-mode: forwards;
  opacity: 0.3;
}

@keyframes borderWaveAnim {
  100% {
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
  }
}

@keyframes fadeEffect {
  100% {
    opacity: 0;
  }
}

.primary {
  background: @primary-color;
  outline: none;
  border: 1px solid @primary-color;
}

/* Grid */

.gd-col-1,
.gd-col-2,
.gd-col-3,
.gd-col-4,
.gd-col-5,
.gd-col-6,
.gd-col-7,
.gd-col-8,
.gd-col-9,
.gd-col-10,
.gd-col-11,
.gd-col-12,
.gd-col-13,
.gd-col-14,
.gd-col-15,
.gd-col-16,
.gd-col-17,
.gd-col-18,
.gd-col-19,
.gd-col-20,
.gd-col-21,
.gd-col-22,
.gd-col-23,
.gd-col-24 {
  float: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.gd-col-1,
.gd-col-2,
.gd-col-3,
.gd-col-4,
.gd-col-5,
.gd-col-6,
.gd-col-7,
.gd-col-8,
.gd-col-9,
.gd-col-10,
.gd-col-11,
.gd-col-12,
.gd-col-13,
.gd-col-14,
.gd-col-15,
.gd-col-16,
.gd-col-17,
.gd-col-18,
.gd-col-19,
.gd-col-20,
.gd-col-21,
.gd-col-22,
.gd-col-23,
.gd-col-24,
.gd-col-lg-1,
.gd-col-lg-2,
.gd-col-lg-3,
.gd-col-lg-4,
.gd-col-lg-5,
.gd-col-lg-6,
.gd-col-lg-7,
.gd-col-lg-8,
.gd-col-lg-9,
.gd-col-lg-10,
.gd-col-lg-11,
.gd-col-lg-12,
.gd-col-lg-13,
.gd-col-lg-14,
.gd-col-lg-15,
.gd-col-lg-16,
.gd-col-lg-17,
.gd-col-lg-18,
.gd-col-lg-19,
.gd-col-lg-20,
.gd-col-lg-21,
.gd-col-lg-22,
.gd-col-lg-23,
.gd-col-lg-24,
.gd-col-md-1,
.gd-col-md-2,
.gd-col-md-3,
.gd-col-md-4,
.gd-col-md-5,
.gd-col-md-6,
.gd-col-md-7,
.gd-col-md-8,
.gd-col-md-9,
.gd-col-md-10,
.gd-col-md-11,
.gd-col-md-12,
.gd-col-md-13,
.gd-col-md-14,
.gd-col-md-15,
.gd-col-md-16,
.gd-col-md-17,
.gd-col-md-18,
.gd-col-md-19,
.gd-col-md-20,
.gd-col-md-21,
.gd-col-md-22,
.gd-col-md-23,
.gd-col-md-24,
.gd-col-sm-1,
.gd-col-sm-2,
.gd-col-sm-3,
.gd-col-sm-4,
.gd-col-sm-5,
.gd-col-sm-6,
.gd-col-sm-7,
.gd-col-sm-8,
.gd-col-sm-9,
.gd-col-sm-10,
.gd-col-sm-11,
.gd-col-sm-12,
.gd-col-sm-13,
.gd-col-sm-14,
.gd-col-sm-15,
.gd-col-sm-16,
.gd-col-sm-17,
.gd-col-sm-18,
.gd-col-sm-19,
.gd-col-sm-20,
.gd-col-sm-21,
.gd-col-sm-22,
.gd-col-sm-23,
.gd-col-sm-24,
.gd-col-xs-1,
.gd-col-xs-2,
.gd-col-xs-3,
.gd-col-xs-4,
.gd-col-xs-5,
.gd-col-xs-6,
.gd-col-xs-7,
.gd-col-xs-8,
.gd-col-xs-9,
.gd-col-xs-10,
.gd-col-xs-11,
.gd-col-xs-12,
.gd-col-xs-13,
.gd-col-xs-14,
.gd-col-xs-15,
.gd-col-xs-16,
.gd-col-xs-17,
.gd-col-xs-18,
.gd-col-xs-19,
.gd-col-xs-20,
.gd-col-xs-21,
.gd-col-xs-22,
.gd-col-xs-23,
.gd-col-xs-24 {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
}

.gd-row-flex>div:not(.gutter-row):nth-child(odd),
.gd-row>div:not(.gutter-row):nth-child(odd),
.gd-row-flex>div:not(.gutter-row):nth-child(odd),
.gd-row>div:not(.gutter-row):nth-child(odd) {
  background: rgba(0, 160, 233, .7);
}

.gd-row-flex>div:not(.gutter-row),
.gd-row>div:not(.gutter-row),
.gd-row-flex>div:not(.gutter-row),
.gd-row>div:not(.gutter-row) {
  background: #00a0e9;
  padding: 16px 0;
}

.gd-row-flex>div,
.gd-row>div,
.code-box-demo .gd-row-flex>div,
.code-box-demo .gd-row>div,
.gd-row-flex>div,
.gd-row>div,
.gd-row-flex>div,
.gd-row>div {
  padding: 5px 0;
  text-align: center;
  border-radius: 0;
  min-height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #fff;
}

.gd-row {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: auto;
  zoom: 1;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gd-row:after,
.gd-row:before {
  content: "";
  display: table;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gd-row:after {
  clear: both;
}

.gd-col-12 {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}

.gd-col-8 {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333333%;
}

.gd-col-6 {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
}

.gd-col-18 {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
}

.gd-col-3 {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 12.5%;
}

.gd-col-4 {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66666667%;
}

.gd-col-2 {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333333%;
}

.gd-row-flex-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.gd-row-flex,
.gd-row-flex:after,
.gd-row-flex:before {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.gd-row-flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gd-row-flex-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.gd-row-flex-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gd-row-flex-space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.gd-row-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.gutter-box {
  background: #00A0E9;
  padding: 5px 0;
}

.gd-col-offset-8 {
  margin-left: 33.33333333%;
}

.gd-col-offset-6 {
  margin-left: 25%;
}

.gd-col-pull-18 {
  right: 75%;
}

.gd-col-push-6 {
  left: 25%;
}

.height-100 {
  height: 100px;
  line-height: 100px;
}

.height-50 {
  height: 50px;
  line-height: 50px;
}

[class^="gd-col-"] {
  background: transparent;
  border: 0;
}

[class^="gd-col-"]>div {
  background: #00A0E9;
  height: 120px;
  line-height: 120px;
  font-size: 13px;
}

pre {
  background: #f9f9f9;
  border-radius: 6px;
  font-size: 13px;
  padding: 8px 16px;
}